body {
    min-width: 290px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 2;
}


#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: blanchedalmond;
}

#navbar header {
    margin: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: thin;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#main-doc {
    position: absolute;
    margin-left: 300px;
    border: blue solid;
    padding: 20px;
    margin-bottom: 110px;
}